@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(bootstrap.min.css);
@font-face {
    font-family: Catull;
    src: url(../fonts/Catull.ttf);
}
@font-face {
    font-family: Patrick;
    src: url(../fonts/PatrickHand-Regular.ttf);
}
@font-face {
    font-family: Hallelujah;
    src: url(../fonts/gloriahallelujah.ttf);
}

h1{
    padding:.2em;
}

.hallelujah h1{
    font-size: 2em;
    font-family: Hallelujah
}

.patrick h1{
    font-size: 5em;
    font-family: Patrick    
}

.hallelujah{
    width:45em;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    padding-bottom: 1em;
}

.patrick img {
    width:60em;
}

img{
    
    max-width:100%;
}

.hallelujah img{
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.navbar-brand {
    font-family: Hallelujah
}

body{
    margin-top: 5em;
}

.row {
    padding: .2em 1em;
}

.carousel {
    padding: 1em;
    margin: 1em 0;
}

.footer {
    padding: 0 1em;
}

.carousel-control {
    width: auto;
    top: 33%;
}

canvas{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
